<%- include('layout/header') %>
    <div class="d-flex align-items-stretch">

        <%- include('layout/sidebar') %>

      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-8">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Olayların Listesi</h2>
                  </div>
                  <div class="card-body">
                    <p class="text-gray mb-5">Burada şu anda (<b>ANLIK OLARAK</b>) ders üzerinde yapılan etkinlikler görünür</p>


                    <div class="event-list">
                        <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                          <div class="left d-flex align-items-center">
                            <div class="text">
                              <h6 class="mb-0 d-flex align-items-center"> <span>abdurrahmaneker58@gmail.com</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">5 DK önce</small>
                            </div>
                          </div>
                          <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                            <h5>Sınavı Bitirdi</h5>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                          <div class="left d-flex align-items-center">
                            <div class="text">
                              <h6 class="mb-0 d-flex align-items-center"> <span>abdurrahmaneker58@gmail.com</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">15 DK önce</small>
                            </div>
                          </div>
                          <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                            <h5>1. Soruda 2 dk'dır bekliyor</h5>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                          <div class="left d-flex align-items-center">
                            <div class="text">
                              <h6 class="mb-0 d-flex align-items-center"> <span>abdurrahmaneker58@gmail.com</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">15 DK önce</small>
                            </div>
                          </div>
                          <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                            <h5>Sınava Başladı</h5>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                      <h6 class="mb-0">Tamamlanan Dersler</h6><span class="text-gray">127 new cases</span>
                    </div>
                  </div>
                  <div class="icon bg-violet text-white"><i class="fas fa-clipboard-check"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                      <h6 class="mb-0">Son İstek Sayısı</h6><span class="text-gray">214 new quotes</span>
                    </div>
                  </div>
                  <div class="icon bg-green text-white"><i class="fas fa-dollar-sign"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-blue"></div>
                    <div class="text">
                      <h6 class="mb-0">Yeni Kullanıcılar</h6><span class="text-gray">25 new clients</span>
                    </div>
                  </div>
                  <div class="icon bg-blue text-white"><i class="fas fa-user-friends"></i></div>
                </div>
              </div>
            </div>
          </section>
        </div>
<%- include('layout/footer') %>
