<footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Educathon"20 Önerimiz</h3>
            <p>Günümüzde özellikle uzaktan eğitimin ön plana çıktığı bu dönemde; öğretmenlerin, ölçme ve değerlendirme konusunda zorlandıkları görülmekte. Farklı web uygulamaları kullanarak öğrencilerini değerlendirmeye çalışırken fiziksel ortamdaki gibi öğrencilerini gözlemleyememektedir.

            Şu an yaygın olarak kullanılan öğrenme yönetim sistemlerinin (LMS) çok sınırlı bir data takibi yaptığı ve ihtiyaçlara tam olarak cevap vermediği görülmektedir.

            Buradan hareketle ÖYS protokolleri incelenmiş ve daha detaylı data sunabilen, bireyin tek başında aldığı eğitimlerde (online), performansını, ilgisini, tepkisini daha iyi ölçümleyen bir protokole ihtiyaç duyulmaktadır.</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Anasayfa</a></li>
              <li><a href="#">Dersler</a></li>
              <li><a href="#">Program</a></li>
              <li><a href="#">Öğretmenler</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto? Numquam, natus?</p>
            <form action="#" class="footer-subscribe">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div> <!-- .site-wrap -->

  <script src="/public/js/jquery-3.3.1.min.js"></script>
  <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/public/js/jquery-ui.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/owl.carousel.min.js"></script>
  <script src="/public/js/jquery.stellar.min.js"></script>
  <script src="/public/js/jquery.countdown.min.js"></script>
  <script src="/public/js/bootstrap-datepicker.min.js"></script>
  <script src="/public/js/jquery.easing.1.3.js"></script>
  <script src="/public/js/aos.js"></script>
  <script src="/public/js/jquery.fancybox.min.js"></script>
  <script src="/public/js/jquery.sticky.js"></script>


  <script src="/public/js/main.js"></script>

  </body>
</html>
