<div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Anasayfa</a></li>
                <li><a href="#courses-section" class="nav-link">Kurslar</a></li>
                <li><a href="#programs-section" class="nav-link">Program</a></li>
                <li><a href="#teachers-section" class="nav-link">Öğretmenler</a></li>
              </ul>
            </nav>
          </div>
