<footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-primary">
                <p class="mb-2 mb-md-0">Educathon"20 &copy; 2020-2021</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-gray-400">
                <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/admin/public/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/public/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/admin/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/public/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/admin/public/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/admin/public/js/charts-home.js"></script>
    <script src="/admin/public/js/front.js"></script>
  </body>
</html>
