<div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Temel</div>
        <ul class="sidebar-menu list-unstyled">
            <li class="sidebar-list-item"><a href="/admin" class="sidebar-link text-muted active"><i class="o-home-1 mr-3 text-gray"></i><span>Dashboard</span></a></li>
              <li class="sidebar-list-item"><a href="/admin/users" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Üyeler</span></a></li>
        </ul>
      </div>
